In [1]:
import pandas as pd
import csv

In [2]:
!git clone https://github.com/y-akinobu/corpus_Python-JPN.git

Cloning into 'corpus_Python-JPN'...
remote: Enumerating objects: 288, done.
remote: Counting objects: 100% (79/79), done.
remote: Compressing objects: 100% (57/57), done.
remote: Total 288 (delta 33), reused 63 (delta 18), pack-reused 209
Receiving objects: 100% (288/288), 208.64 MiB | 29.57 MiB/s, done.
Resolving deltas: 100% (115/115), done.
Checking out files: 100% (95/95), done.

In [3]:
df = pd.read_csv('/content/corpus_Python-JPN/forPRO/result_DS_B.tsv', sep='\t', names=('JPN', 'Py', 'Py_predict'))
df.head()

                                                 JPN  ...                                         Py_predict
0                         <A> 内のカラム <B> に重複はあるのかを調べる  ...              <D> <A> . duplicated ( subset = <B> )
1                        データフレーム <A> 内で重複する行の合計を表示する  ...                     <A> . duplicated ( ) . sum ( )
2  同じグラフ内で表データ <A> の <B> と表データ <A> の <C> と <A> の表...  ...  plt . boxplot ( [ <A> [ <B> ] , <A> [ <C> ] , ...
3                        データフレーム <A> の NaN を <B> とする  ...                               <A> . fillna ( <B> )
4             データフレーム <B> をインデックスに沿ってソートし、 <A> に代入する  ...                         <A> = <B> . sort_index ( )

[5 rows x 3 columns]

In [4]:
df = df.sample(n=150)

In [5]:
cnt = 0
correct = 0

df_error = pd.DataFrame(columns=['JPN', 'Py', 'Py_predict'])

for index, row in df.iterrows():
  py = row['Py'].strip()
  pred = row['Py_predict'].strip()

  py = py.strip()
  pred = pred.strip()

  cnt += 1

  if py == pred:
    correct += 1
  else:
    df_error = df_error.append({'JPN': row['JPN'], 'Py': py, 'Py_predict': pred}, ignore_index=True)

print('Finished')
print(f'percentage of correct answers {correct}/{cnt} ({correct / cnt * 100}%)' )

Finished
percentage of correct answers 67/150 (44.666666666666664%)

In [6]:
df_error.head()

                                                 JPN  ...                                         Py_predict
0                                     <A> までの列を表示させる  ...                             sns . pairplot ( <A> )
1  左側のデータのインデックスと右側のデータの <D> 表属性をキーとして、 <B> と <C>...  ...  sns = pd . merge ( <A> , <B> , <C> , left_inde...
2                              <A> の <B> 列の一意の値を表示する  ...                       <B> <A> [ <B> ] . unique ( )
3                         表データ <A> を表属性 <B> の値を元にソート  ...  df . sort_values ( <A> [ <B> ] , ascending = F...
4                    <A> の <B> をグループ化して、値ごとのデータ数を求める  ...           df1 . groupby ( <A> [ <B> ] ) . size ( )

[5 rows x 3 columns]

In [7]:
df_error = df_error.assign(judge=1)

In [8]:
df_error.to_csv('result_DS_B_error.tsv', index=False, header=False, sep='\t', quoting=csv.QUOTE_NONE, doublequote=False, escapechar='\n')

In [9]:
df = pd.read_csv('/content/result_AOJ_B_error_judged.tsv', sep='\t', names=('JPN', 'Py', 'Py_predict', 'judged'), header=None)[1:]
(150-len(df)+df[ df['judged'] == 1.0 ]['judged'].count() )/150

0.4866666666666667

In [10]:
df = pd.read_csv('/content/result_AOJ_T_error_judged.tsv', sep='\t', names=('JPN', 'Py', 'Py_predict', 'judged'), header=None)[1:]
(150-len(df)+df[ df['judged'] == '1']['judged'].count() )/150

0.10666666666666667

In [11]:
(150-len(df)+df[ df['judged'] == '1']['judged'].count()+df[ df['judged'] == '*']['judged'].count() )/150

0.19333333333333333

In [12]:
df = pd.read_csv('/content/result_DS_B_error_judged.tsv', sep='\t', names=('JPN', 'Py', 'Py_predict', 'judged'), header=None)[1:]
(150-len(df)+df[ df['judged'] == 1.0 ]['judged'].count() )/150

0.5866666666666667